body {
	font-family: 'Open Sans', sans-serif;
	background-color: #EFEFEF;
}

.nav {
    width: 100%;
    height: 6em;
    font-size: 1em;
    margin-top: 1em;    

}

.nav ul { 
    font-weight: bold;
    list-style:none;
    float: right;
    background-color: #6A4881;
    border-radius: 5px;
}

.nav li {
    display: inline-block;
    line-height: 6em;
}

.nav__item {
    width: 13em;
    text-align: center;

}

.nav__item a {
	color: #F26432;
	text-decoration: none;
}

.nav__item:hover {
    transition: background-color 0.8s ease;
    background-color: #F26432;    
    
}

.nav__item:hover a{
	color: #6A4881;
}

.nav__item:hover > ul {
    display: block;
    z-index: 999;
}

.nav li > ul {
    background-color: black;
    width: 15em;
}
/*Esconde Sub-menu*/
.nav ul ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 5px 10px;
}

    .nav li > ul li:hover {
    background-color: #fff;
    color: black;
    transition: background-color 0.8s ease;
}

.nav ul ul li {
    display: block;
}

.nav ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
}

.item img {
	
	max-height: 370px;
	width: 100%;
}

.thumbnail{
	background-color: #6A4881;

}

.thumbnail p, .thumbnail h3 {
	color: #F26432;
}

.thumbnail:hover{
	background-color: #F26432;
}

.thumbnail:hover p, .thumbnail:hover h3{
	color: #6A4881;
}

#footer {
	background-color: #303135;
	color: #F26432;
	padding: 1em;
	border-radius: 5px;
}