<ul class="nav justify-content-end">
  <li class="nav-item {{active === 'home' ? 'active' : ''}}">
    <a class="nav-link" pageScroll href="#home" (click)="active = 'home'">Home</a>
  </li>
  <li class="nav-item {{active === 'aboutus' ? 'active' : ''}}">
    <a class="nav-link " pageScroll href="#aboutus" (click)="active = 'aboutus'">About Us</a>
  </li>
  <li class="nav-item {{active === 'ourservices' ? 'active' : ''}}">
    <a class="nav-link" pageScroll href="#ourservices" (click)="active = 'ourservices'">Our Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" pageScroll href="#contactus" (click)="active = 'contactus'">Contact Us</a>
  </li>
</ul>
<ul class="nav justify-content-end">
    <li class="nav-item {{active === 'home' ? 'active' : ''}}">
      <a class="nav-link" pageScroll href="#home" (click)="active = 'home'">Home</a>
    </li>
    <li class="nav-item {{active === 'aboutus' ? 'active' : ''}}">
      <a class="nav-link " pageScroll href="#aboutus" (click)="active = 'aboutus'">About Us</a>
    </li>
    <li class="nav-item {{active === 'ourservices' ? 'active' : ''}}">
      <a class="nav-link" pageScroll href="#ourservices" (click)="active = 'ourservices'">Our Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" pageScroll href="#contactus" (click)="active = 'contactus'">Contact Us</a>
    </li>
  </ul>